.main{
    background: rgb(243, 241, 241);
    min-height: 100vh;
}

.catalog{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}

.pagination{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}